.home, .events, .dining, .about {
    height: 12rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.486);
    background-blend-mode: lighten;
}
.home {
    background-image: url('../images/campus.jpeg');
}
.header-text {
    width: 30%;
    padding-right: 15px;
    min-width: 15rem;
    border-radius: 0px 20rem 20rem 0px;
}
.events {
    background-image: url('../images/college-event.png');
}
.dining {
    background-image: url('../images/dining.png');
}
.about {
    background-image: url('../images/campus.jpeg');
}

.content {
    height: 20rem;
}

.footer {
    margin-top: 15rem;
}

.events-container {
    max-height: 30rem;
}

.event {
    height: 20rem;
    display: flex;
    flex-direction: column;
}

.dining-container {
    min-height: 15rem;
    max-height: 35rem;
}
.food-image {
    height: 15rem;
    width: 10rem;
}

.about-container {
    height: 30rem;
}

.image img {
    width: 100%;
    height: 80%;
    border-radius: 2rem;
}

@media (max-width: 767px) {
    .content {
        height: 15rem;
    }
    .about-container {
        height: 40rem;
    }
    .image {
        height: 40%;
    }
    .image img {
        width: 85%;
    }
    .about-info {
        height: 50%;
    }
    .home{
        height: 8rem;
    }
    .events{
        height: 8rem;
    }
    .dining{
        height: 8rem;
    }
    .about{
        height: 8rem;
    }
}