.home {
    height: 12rem;
}

.content {
    height: 20rem;
}

.footer {
    margin-top: 15rem;
}

.events-container {
    min-height: 15rem;
    max-height: 35rem;
}

.event {
    min-height: 15rem;
}

.dining-container {
    min-height: 15rem;
    max-height: 35rem;
}

.about-container {
    height: 30rem;
}

.image img {
    width: 100%;
    height: 80%;
}

@media (max-width: 767px) {
    .content {
        height: 15rem;
    }
    .about-container {
        height: 40rem;
    }
    .image {
        height: 40%;
    }
    .image img {
        width: 85%;
    }
    .about-info {
        height: 60%;
    }
    .home{
        height: 8rem;
    }

}